@font-face {
  font-family: VarelaRound;
  src: url(/login/fonts/VarelaRound-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins,sans-serif";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/login/photos/Background.png);
  color: #333;
}

.container {
  margin: 0 15px;
}

.form-box {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 5px 10px;
  display: none;
}

.form-box.active {
  display: block;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 20px;
  background: #eee;
  border: none;
  border-radius: 6px;
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  background: #7494ec;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background: #617fd2;
}

p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

p a {
  text-decoration: none;
  color: #3b5c9a;
}

p a:hover {
  text-decoration: underline;
}
