@font-face{
    font-family: VarelaRound;
    src: url(VarelaRound-Regular.ttf);
}

body{
    font-family: VarelaRound;
    background-image: url(../Startpagina/Photos/Background.png);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: VarelaRound;
    text-align: center;
}

#header{
    background-color: white;
    width: 80%;
    justify-self: center;
    padding: 3px;
    border-radius: 15px;
}

#login{
    border-radius: 15px;
    justify-self: right;
    gap: 5px;
    margin-top: 20px;
}

.knop{
    border: solid 2px black;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
}

.knop:hover{
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

#text{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    width: 80%;
    justify-self: center;
    margin: 20px;
}

#slogan{
    font-weight: bold;
    font-style: italic;
}

.photo{
    padding: 10px;
    border-radius: 15px;
    width: 750px;
    background-color: white;
}

#photos{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}