/*Fonts*/
@font-face{
    font-family: VarelaRound;
    src: url(./Fonts/VarelaRound-Regular.ttf);
}

/*Achtergrond*/
body{
    background-image: url(./Photos/Background.png);
}

/*Navigatie elementen*/
#nav a{
    display: block;
    overflow: hidden;
    width: 230px;
    padding: 30px 20px;
    text-decoration: none;
    color: black;
}
#nav a:hover{
    background-color: black ;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
}
#nav{
    list-style-type: none;
    padding: 0;
    background-color: white;
    width: 250px;
    height: 400px;
    border-radius: 16px;
    border-style: none;
    font-family: VarelaRound;
    position: fixed;
}
.hamburger{
    border-style: none;
    font-family: VarelaRound;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: black;
    width: 80px;
    padding: 20px 20px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
}
.hamburger:hover{
    outline: 3px;
    outline-color: black;
    outline-style: solid;
}
#active{
    background-color: black;
}
#active a{
    color: white;
}
#top a:hover{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: black;
}
#bottom a:hover{
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: black;
}


/*Tekst layout*/
#title{
    font-family: VarelaRound;
    font-size: 60px;
}
.Intro{
    font-family: VarelaRound;
    font-size: 30px;
}
.artikel{
    font-family: VarelaRound;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 0px;
    display: block;
    display: flex
}
.toevoegen{
    width: 30%;
    height: auto
    font-family: VarelaRound;
}
.overzicht{
    width: 70%;
    height: auto;
}
.overzicht #Categorie{
    margin-left: 20px;
    background-color: white;
    border: solid white;
    border-radius: 16px;
    width: 120px;
    height: 50px;
    font-size: 20px;
}
.overzicht #Kader{
    background-color: white;
    margin: 20px;
    border-radius: 16px;
    padding: 10px;
    height: auto;
}
.overzicht #Kader li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black;
    border-radius: 16px;
    padding: 20px;
}
.overzicht #Kader ol{
    float: right;
    color: red;
}
.toevoegen #informatie{
    margin: 20px;
    border-radius: 16px;
    background-color: white;
}
.toevoegen #informatie li{
    padding: 20px;
    list-style-type: none;
}
.formdesign{
    border-color: black;
    border-style: solid;
    border-radius: 16px;
    text-align: center;
}
.toevoegen #Hoeveelheid{
    width: 20%;
    padding: 5px;
    height: 40px;
    font-size: 30px;
}
.toevoegen #Naam{
    height: 20px;
    width: 80%;
}
.toevoegen #Categorie{
    background-color: white;
    height: 30px;
}
.toevoegen #Toevoegen{
    background-color: white;
    height: 45px;
    padding: 10px;
    font-size: 20px;
}
.toevoegen #Toevoegen:hover{
    outline: 5px;
    outline-style: solid;
    outline-color: black;
}
.toevoegen #ADD{
    margin-left: 20px;
    background-color: white;
    border: solid white;
    border-radius: 16px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
.toevoegen #ADD:hover{
    outline: 5px;
    outline-style: solid;
    outline-color: black;
}
/*Logo layout*/
@media(max-width: 800px){
    #logo{
        display: none;
    }   
}
@media(max-width: 1200px){
    #zoekbalk{
        display: none;
    }
}
#logo{
    margin-right: 70px;
    width: 80px;
}
.menulogos{
    width: 50px;
    float: left;
    margin-right: 10px;
}

/*Zoekelementen*/
#zoekbalk{
    display: block;
    width: 620px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.zoek{
    border-radius: 16px;
    border: none;
    text-align: center;
    font-family: VarelaRound;
}
#zoekbalk_mijn_koelkast{
    width: 500px;
    height: 40px;
}
#submitknop{
    width: 70px;
    height: 40px;
    margin-right: 40px;
    background-color: white;
}