/*Fonts*/
@font-face{
    font-family: VarelaRound;
    src: url(../Boodschappenlijst/VarelaRound-Regular.ttf);
}

/*Achtergrond*/
body {
  background-image: url(../Boodschappenlijst/Photos/Background.png);
}

/*Navigatie elementen*/
.hamburger{
  border-style: none;
  font-family: VarelaRound;
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: black;
  width: 80px;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: white;
  text-align: center;
}
.hamburger:hover{
  outline: 3px;
  outline-color: black;
  outline-style: solid;
  cursor: pointer;
}
#nav a {
  display: block;
  overflow: hidden;
  width: 230px;
  padding: 30px 20px;
  text-decoration: none;
  color: black;
}
#nav a:hover {
  background-color: black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  color: white;
}
#nav {
  list-style-type: none;
  padding: 0;
  background-color: white;
  width: 250px;
  height: 400px;
  border-radius: 16px;
  border-style: none;
  font-family: VarelaRound;
  position: fixed;
}
#active {
  background-color: black;
}
#active a {
  color: white;
}
#top a:hover {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: black;
}
#bottom a:hover {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: black;
}

/*Tekst layout*/
#title {
  font-family: VarelaRound;
  font-size: 60px;
}
.Intro {
  font-family: VarelaRound;
  font-size: 30px;
}
.artikel{
  margin-left: 300px;
  margin-right: 0px;
  display: flex;
}

/*Logo layout*/
@media (max-width: 800px) {
  #logo {
    display: none;
  }
}
#logo {
  margin-right: 70px;
  width: 80px;
}
.menulogos {
  width: 50px;
  float: left;
  margin-right: 10px;
}

/*Blok element*/


/*Blok tabel*/
#keuzemenu {
  overflow-x: auto;
}
.lijstje{
  font-family: VarelaRound;
  display: block;
  background-color: white;
  width: 70%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}
.lijstje li{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black;
  border-radius: 16px;
  padding: 20px;
}
.lijstje ol{
    float: right;
    color: black;
}
#delknop a{
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
#delknop a:hover{
  outline: 2px solid black;
}
.toevoegen{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  font-family: VarelaRound;
  background-color: white;
  border-radius: 10px;
  margin-right: 3%;
}
.toevoegen input{
  font-family: VarelaRound;
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 15px;
}
.toevoegen select{
  font-family: VarelaRound;
  width: 87%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid grey;
  font-size: 15px;
}
.toevoegen button{
  font-family: VarelaRound;
  width: 87%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
  font-size: 15px;
  
}
.toevoegen button:hover{
  outline: 2px solid black;
}
#toevoegen-tekst{
  text-align: center;
  font-size: larger;
}

